<!DOCTYPE html>
<!--
The MIT License

Copyright 2021 Bondo Pangaji.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Spring Boot Asssignment">
        <meta name="author" content="Bondo Pangaji">
        <meta name="keyword" content="Spring Boot">
        <link rel="shortcut icon" href="img/favicon.png">

        <!-- Bootstrap CSS -->
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <!-- bootstrap theme -->
        <link href="../../css/bootstrap-theme.css" rel="stylesheet">
        <!--external css-->
        <!-- font icon -->
        <link href="../../css/elegant-icons-style.css" rel="stylesheet" />
        <link href="../../css/font-awesome.min.css" rel="stylesheet" />
        <!-- owl carousel -->
        <link rel="stylesheet" href="./css/owl.carousel.css" type="text/css">
   
        <link href="../../css/style.css" rel="stylesheet">
        <link href="../../css/style-responsive.css" rel="stylesheet" />
        
    </head>

    <header th:fragment="navbar" class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a th:href="@{/}" class="logo">Spring Boot <span class="lite">Inventory</span></a>
        <!--logo end-->

	    <div class="top-nav notification-row">
	        <!-- notificatoin dropdown start-->
	        <ul class="nav pull-right top-menu">
	            <!-- reserved if needed -->
	        </ul>
	        <!-- notificatoin dropdown end-->
	    </div>
	</header>
	<!--header end-->
	
	<!--sidebar start-->
	<aside th:fragment="sidebar">
	    <div id="sidebar" class="nav-collapse ">
	        <!-- sidebar menu start-->
	        <ul class="sidebar-menu">
	            <li class="sub-menu">
	                <a href="javascript:;" class="">
	                    <i class="icon_documents_alt"></i>
	                    <span>Inventory</span>
	                    <span class="menu-arrow arrow_carrot-right"></span>
	                </a>
	                <ul class="sub">
	                    <li><a class="" th:href="@{/inventory/list}">Inventory List</a></li>
	                    <li><a class="" th:href="@{/inventory/add}">Add New Inventory</a></li>
	                </ul>
	            </li>    
	        </ul>
	        <!-- sidebar menu end-->
	    </div>

	</aside>
	<!--sidebar end-->
	
    <footer th:fragment="footer" class="navbar navbar-fixed-bottom footer text-right">
    	 <div class="credits">
          Made with  <span class="fa 	fa-coffee"></span><br><b>© Bondo Pangaji</b>
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
          Theme by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer>
	   	<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
            <script src="js/lte-ie7.js"></script>
          <![endif]-->

        <!-- =======================================================
          Theme Name: NiceAdmin
          Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
          Author: BootstrapMade
          Author URL: https://bootstrapmade.com
        ======================================================= -->
</html>
